<div class="col-md-12">
    <div class="card shadow-lg">
      <div class="row">
        <div class="col-md-4">
          <img
            class="w-100 h-100"
            src="https://www.collinsdictionary.com/images/full/restaurant_135621509.jpg"
            alt=""
          />
        </div>
        <div class="col-md-8 p-2">
          <h6>Amsterdam Walking</h6>
          <small>Explore the newest restaurant</small>
          <div class="row mt-3">
            <div class="col-md-5">
              <ng-icon name="octStarFill" color="orange"></ng-icon>
              <ng-icon name="octStarFill" color="orange"></ng-icon>
              <ng-icon name="octStarFill" color="orange"></ng-icon>
              <ng-icon name="octStarFill" color="orange"></ng-icon>
              <ng-icon name="octStarFill" color="orange"></ng-icon>
            </div>
            <div class="col-md-5">
              <button class="btn btn-sm btn-primary w-100">See</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>