<nav class="navbar navbar-light bg-primary shadow-lg">
  <div class="d-flex align-items-end">
    <ng-icon class="mx-3" name="octFeedTag" size="40" color="white"></ng-icon>
    <span class="text-white">Restaurante_</span>
  </div>

  <div>
    <button class="btn btn-sm btn-primary rounded-circle">
      <ng-icon name="octBellFill" size="20"></ng-icon>
    </button>
    <button class="btn btn-sm btn-primary mx-3" (click)="sidenavService.handleDrawer()">
      <ng-icon name="octThreeBars" size="40"></ng-icon>
    </button>
  </div>
</nav>
