<div class="col-md-4 col-12 offset-md-4">
    <div class="card shadow-lg p-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-4">
          </div>
          <div class="col-md-6 col-8 text-end">
            <span>Have account? <b class="text-primary pointer" routerLink="/auth/login">Log in</b></span>
          </div>
          <h1 class="mt-3">Manage your restaurant with us!</h1>
        </div>
        <h4>
          Take less than 10 minutes to fill out all the information needed to register your business.
        </h4>
  
        <form>
          <div class="row">
            <div class="col-md-12">
              <label for="name">Nome</label>
              <div class="input-group mt-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <ng-icon name="octPerson" size="24"></ng-icon>
                  </span>
                </div>
                <input type="text" class="form-control" />
              </div>
            </div>
  
            <div class="col-md-12 mt-3">
              <label for="name">Email</label>
              <div class="input-group mt-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <ng-icon name="octMention" size="24"></ng-icon>
                  </span>
                </div>
                <input type="text" class="form-control" />
              </div>
            </div>
  
            <div class="col-md-12 mt-3">
              <label for="name">Password</label>
              <div class="input-group mt-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <ng-icon name="octEyeClosed" size="24"></ng-icon>
                  </span>
                </div>
                <input type="text" class="form-control" />
              </div>
            </div>
  
            <div class="col-md-12 mt-3">
              <label for="name">Repeat Password</label>
              <div class="input-group mt-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">
                    <ng-icon name="octEyeClosed" size="24"></ng-icon>
                  </span>
                </div>
                <input type="text" class="form-control" />
              </div>
            </div>
  
            <div class="col-md-12 mt-3">
              <button class="btn p-3 btn-primary w-100">
                <ng-icon name="octCheck" size="24"></ng-icon>
                Get started
              </button>
            </div>
          </div>
        </form>
        <div class="col-md-12 mt-3 text-center">
          <span>By signing up you are agreeing to our <b class="text-primary">Terms and Conditions</b></span>
        </div>
      </div>
    </div>
  </div>
  