<div class="col-md-6 offset-md-3">
  <div class="card shadow-lg">
    <div class="card-body">
      <span class="text-primary">Bric</span>
      <span>Have account? <b class="text-primary">Log in</b></span>
      <h1>Manage your restaurant with us!</h1>
      <h4>
        Take less than 10 minutes to fill out all the information needed to register your business.
      </h4>

      <form>
        <label for="name">Name</label>
        <input type="text" class="form-control" />

        <label for="email">Email</label>
        <input type="text" class="form-control" />

        <label for="password">Password</label>
        <input type="text" class="form-control" />

        <label for="repeatPass">Repeat Password</label>
        <input type="text" class="form-control" />
      </form>
    </div>
  </div>
</div>
