<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card p-3 text-center shadow-lg">
        <h4>Restaurantes cadastrados</h4>
        <h6>{{ restaurants.length }}</h6>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 text-center shadow-lg">
        <h4>Vendas realizadas</h4>
        <h6>0</h6>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 text-center shadow-lg">
        <h4>Total recebido</h4>
        <h6>0</h6>
      </div>
    </div>
  </div>
</div>
