<div class="w-200px sidebar bg-info shadow-lg">
    <div class="d-flex flex-column aling-items-center justify-content-center mt-3">
        <button class="btn btn-md btn-info">
            <ng-icon name="octPackage" size="20"></ng-icon>
            Restaurantes
        </button>
        <button class="btn btn-md btn-info">
            <ng-icon name="octIdBadge" size="20"></ng-icon>
            Funcionários
        </button>
        <button class="btn btn-md btn-info">
            <ng-icon name="octChecklist" size="20"></ng-icon>
            Cardápios
        </button>
        <button class="btn btn-md btn-info">
            <ng-icon name="octHeart" size="20"></ng-icon>
            Produtos
        </button>
    </div>

    <div class="d-flex flex-column">
        <button class="btn btn-md btn-info">
            <ng-icon name="octTools" size="20"></ng-icon>
            Settings
        </button>
        <button class="btn btn-md btn-info">
            <ng-icon name="octSignOut" size="20"></ng-icon>
            Sair
        </button>
    </div>
</div>