<div class="p-3 sidebar bg-info shadow-lg"  [class.d-none]="!sidenavService.closed">
    <div class="d-flex flex-column aling-items-center justify-content-center mt-3">
        <button class="btn btn-md btn-info d-flex p-3">
            <ng-icon class="mx-1" name="octPackage" size="20"></ng-icon>
            Restaurantes
        </button>
        <button class="btn btn-md btn-info d-flex p-3">
            <ng-icon class="mx-1" name="octIdBadge" size="20"></ng-icon>
            Funcionários
        </button>
        <button class="btn btn-md btn-info d-flex p-3">
            <ng-icon class="mx-1" name="octChecklist" size="20"></ng-icon>
            Cardápios
        </button>
        <button class="btn btn-md btn-info d-flex p-3">
            <ng-icon class="mx-1" name="octHeart" size="20"></ng-icon>
            Produtos
        </button>
    </div>

    <div class="d-flex flex-column">
        <button class="btn btn-md btn-info d-flex p-3">
            <ng-icon class="mx-1" name="octTools" size="20"></ng-icon>
            Settings
        </button>
        <button class="btn btn-md btn-info d-flex p-3" routerLink="/auth/login">
            <ng-icon class="mx-1" name="octSignOut" size="20"></ng-icon>
            Sair
        </button>
    </div>
</div>