/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
small,
label {
  color: rgb(106, 104, 116);
}

.global-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

$main-color: #f77f00;
$secondary-color: #d62828;
$thirdy-color: #003049;
$light-color: #d6d3d9;

$theme-colors: (
  "light": $light-color,
  "dark": $thirdy-color,
  "primary": $main-color,
  "secondary": $secondary-color,
  "info": $thirdy-color,
  "success": #049756,
  "warning": #cf4137,
  "danger": $secondary-color,
);

.btn {
  color: $light-color !important;
}

.error-form {
  border: 1px solid $main-color;
  border-radius: 0.375rem;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import 'ngx-toastr/toastr';

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
